@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #090909;
}

#term{
  background-image: url("./images/BackUSages.svg");
  background-position: 5% 0;

}
#referal{
  background-image: url("./images/ReferalBack.svg");
}

#contacts{
  background-image: url("./images/ContactBack.svg");
}
